
body{
	background: white;
}

h1{
	margin-top: 50px;
 	font-size: 50px;
 	text-decoration: underline;
 	text-decoration-style: solid;
}

h3{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: cursive;

}
h1:hover, h3:hover{
	text-shadow: 2px 2px 2px rgb(145, 100, 56);
}

.modes{

	margin-top: 100px;
}
.solo, .dual{

	height: 60px;
	width: 150px;
	display: block;
	padding: 5px 5px 5px;
	border-width: 5px;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 20px;

}

.solo:hover, .dual:hover{
	transform: scale(0.95);
}




